<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"

     content="width=device-width, initial-scale=1, user-scalable=yes">

    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> 
     
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>G.E.M.S</title>
</head>

<style>
      body {
      background-image: url("static/assets/security2.jpg");
      background-blend-mode: color;
    }
</style>

<header>

     <nav class="navbar navbar-expand-lg navbar-dark w3-animate-opacity" style="background-color: rgb(42, 52, 134);">

      <a class="navbar-brand" href="{{ url_for('index') }}">G.E.M.S</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <!--<a class="nav-link" href="{{ url_for('currentevent') }}">Current Events</a>-->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {%if status%}
              <a class="dropdown-item" href="{{ url_for('create_event') }}">Create Event</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a> 
              <a class="dropdown-item" href="{{ url_for('users') }}">Account</a>             
              {%else%}
              <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
              {%endif%}
              
            </div>
          </li>
        </ul>
      </div>
    </nav>


</header>

<body>
  <div class="container">
        {% block content %}
        {% endblock %}
  </div>
    
</body>


<footer class="bg-light text-center text-lg-start fixed-bottom w3-animate-opacity" id="mainfooter">
  <div class="text-center p-3" style="background-color: rgb(42, 52, 134);">
    <a class="text-light" href="{{ url_for('index') }}">© The University Of Western Australia: CITS3200 Team 9 Project</a>
  </div>
</footer>


</html>
