{% extends "baseclient.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}


<style>
    /*change background image to dj.jpg*/
    body {
      background-image: url("static/assets/wedding.jpg");
    }
    
    </style>

<div class = "container w3-animate-top w3-animate-opacity">
    <h2 class="w3-jumbo w3-animate-top" style="color:rgb(218, 152, 254);">Check In</h2>
        <div class="row">
            <div class="form1">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

<div class="container-badge" hidden="True">
    <canvas id="badge_result" class="badge">
        <header id="head">
            <div class="guest-badge">
            <h4>Badge for Event</h4>
            <span>Guest</span>
        </div>
    
        </header>
        <div class="content">
            <img src="" id="file_image">
            <ul>
                <li id="firstname_badge"></li>
                <li id="lastname_badge"></li>
                <li id="email_badge"></li>
            </ul>
        </div>
    </canvas>
</div>
        <!-- <button id="down">Download</button> -->
    <script src="../static/js/badge.js"></script>
    <link rel="stylesheet" href="../static/css/badge.css">

{% endblock %}