{% extends "baseclient.html"%}

{% block content %}

<style>
  /*change background image to dj.jpg*/
  body {
    background-image: url("static/assets/dj.jpg");
  }

  table {
    background-color: rgb(252, 240, 255);
    border-radius: 3px;
  }
</style>

<div class="w3-animate-opacity">
  <h1 class="w3-jumbo w3-animate-top" style="color:rgb(195, 91, 255);">Current Events</h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
  <h2 class="w3-large w3-center w3-animate-opacity" style="color:rgb(255, 255, 255);">Choose the event you would like to
    attend</h2>
</div>

<table class="table table-hover w3-animate-opacity w3-animate-top">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Event Host</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Price per Ticket</th>
    </tr>
  </thead>

  {% for event in events %}
  <tbody>
    <tr>
      <td>{{ event["eventName"] }}</td>
      <td>{{ event["eventHost"] }}</td>
      <td>{{ event["eventDate"] }}</td>
      <td>{{ event["startTime"] }}</td>
      <td>{{ event["endTime"] }}</td>
      <td>${{ event["eventPrice"]/100 }}</td>
      <td bgcolor="ffffff">
        {% if event["stripeProductID"] %}
        <a href="{{ url_for('checkinAndPay', eventID=event[0]) }}">Check In</a>
        {% else %}
        <a href="{{ url_for('checkin', eventID=event[0]) }}">Check In</a>
        {% endif %}
      </td>
    </tr>
  </tbody>
  {% endfor %}

</table>

{% endblock %}