{% extends "base.html"%} 

{% block content %}

<style>
	.user_name{
		background-color:rgb(255, 255, 255);
	}
	.email{
		background-color:rgb(255, 255, 255);
	}
	.Verification_Code{
		background-color:rgb(255, 255, 255);
	}
	.newpassword{
		background-color:rgb(255, 255, 255);
	}
</style>

	<title>Forget_Password</title>
	<link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
	<link rel="icon" href="../static/images/uwa.png" type="image/x-icon"/>
<div class="cent-box">
	<div class="cent-box-header">
		<h1 class="main-title hide">Group 9</h1>
		<h3><a href="{{ url_for('index') }}">G.E.M.S System Login</a></h3>
		<h6>Unauthorised Access Strictly Prohibited</h6>
	</div>

	<div class="cont-main clearfix">
		<div class="index-tab">
			<div class="index-slide-nav">Forget Password</div>
		</div>
    <form method="post">
        <div class="forget_password form">
			<div class="group">
				<div class="group-ipt user_name">
					<label for="username"></label><input type="text" name="user_name" id="username" class="ipt" placeholder="Username" required>
				</div>
				<div class="group-ipt email">
					<label for="email"></label><input type="email" name="email" id="email" class="ipt" placeholder="Email Address" required>
				</div>
                <div class="group-ipt Verification_Code ">
					<label for="Verification_Code"></label><input type="text" name="Verification_Code" id="Verification_Code" class="ipt" placeholder="Verification Code" >
				</div>
                <div class="group-ipt newpassword ">
					<label for="newpassword"></label><input type="password" name="newpassword" id="newpassword" class="ipt" placeholder="New Password" >
				</div>
                <div class="button">
                    <button type="submit" class="login-btn register-btn" id="button">Receive Verification Code</button>
                </div>
			</div>
            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">Submit</button>
            </div>
		</div>
    </form>
	</div>
</div>



{% endblock %}