{% extends "base.html"%} 

{% block content %}
<body>
    <h1>G.E.M.S</h1>
    <h2>Global Event Management System</h2>

     <p>Creation of a secure web-based shop front for event attendees:<br>
        to book his/her attendance (including partner, children);<br>
        to register contact details;<br>
        to indicate no fees involved;<br>
        to enable uploading images/text; and<br>
        to interface with printer to generate badges<br>
        Security of data is an important consideration.<br>
        
        Client<br>
        
        
        Contact: Ruby Chan<br>
        Phone: 6488 1170<br>
        Email: ruby.chan@uwa.edu.au<br>
        Preferred contact: Phone,Email<br>
        Location: Perth, UWA Physics Bldg.<br>
        IP Exploitation Model<br>
        
        
        The IP exploitation model requested by the Client is: <br>Creative Commons (open source) http://creativecommons.org.au/<br>
        </p>


</body>

{% endblock %}