{% extends "base.html"%} 

{% block content %}
<body>
    <section>
        <img class="mySlides" src="static/assets/dj.jpg" style="width:100%">
        <img class="mySlides" src="static/assets/stage.jpg" style="width:100%">
        <img class="mySlides" src="static/assets/wedding.jpg" style="width:100%">
      </section>

      <section class="w3-container w3-center" style="max-width:600px">
        <h2 class="w3-wide">G.E.M.S</h2>
        <p class="w3-opacity"><i>Global Event Management System</i></p>
      </section>
      
</body>

<script>
    var myIndex = 0;
    carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}
</script>

{% endblock %}