{% extends "base.html"%} 

{% block content %}

<style>
  h1{
    color:rgb(0, 0, 0);
  }
</style>

<body>
    
    
    <h1 id="greetings"></h1>
    
    <script>
    const time = new Date().getHours();
    let greeting;
    if (time < 10) {
      greeting = "Good morning {{User}}, How are you today?";
    } else if (time < 20) {
      greeting = "Good day {{User}}, How are you today?";
    } else {
      greeting = "Good evening {{User}}, How are you today?";
    }
    document.getElementById("greetings").innerHTML = greeting;
    </script>
    
    </body>

{% endblock %}